footer
  .container.text-center
    p.pull-left A project by #[a(href='http://agbales.github.com/portfolio') Andrew Bales]
    ul.pull-right.list-inline
      li
        a(href='https://github.com/agbales') GitHub
      li
        a(href='https://twitter.com/agbales') Twitter
